services:
    # nginx
    nginx-service:
        build:
            context: .
            dockerfile: docker/nginx/Dockerfile
        container_name: prelude-nginx-container
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./apps:/var/www/apps
            - ./nginx/conf.d:/etc/nginx/conf.d
            - ./nginx/ssl-params.conf:/etc/nginx/ssl-params.conf
        depends_on:
            - phplatest-service # add PHP services bellow
            - mysql8-service
        networks:
            - prelude
    # php
    phplatest-service:
        build:
            context: .
            dockerfile: docker/php/Dockerfile-latest
            args:
                # set host user UID and GID, to create non-sudo user
                UID: ${HOST_UID:-1000}
                GID: ${HOST_GID:-1000}
        environment:
            - MP_SENDMAIL_SMTP_ADDR=${MP_SENDMAIL_SMTP_ADDR}
        container_name: prelude-phplatest-container
        volumes:
            - ./apps:/var/www/apps
            - ./php/configs/php-latest.ini:/usr/local/etc/php/php.ini
            - ./php/configs/xdebug3.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        extra_hosts:
            - host.docker.internal:${HOST_IP:-172.17.0.1}
        networks:
            - prelude
    php81-service:
        build:
            context: .
            dockerfile: docker/php/Dockerfile-php81
            args:
                # set host user UID and GID, to create non-sudo user
                UID: ${HOST_UID:-1000}
                GID: ${HOST_GID:-1000}
        container_name: prelude-php81-container
        volumes:
            - ./apps:/var/www/apps
            - ./php/configs/php-81.ini:/usr/local/etc/php/php.ini
            - ./php/configs/xdebug3.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        extra_hosts:
            - host.docker.internal:${HOST_IP:-172.17.0.1}
        networks:
            - prelude
    php71-service:
        build:
            context: .
            dockerfile: docker/php/Dockerfile-php71
            args:
                # set host user UID and GID, to create non-sudo user
                UID: ${HOST_UID:-1000}
                GID: ${HOST_GID:-1000}
        container_name: prelude-php71-container
        volumes:
            - ./apps:/var/www/apps
            - ./php/configs/php-71.ini:/usr/local/etc/php/php.ini
            - ./php/configs/xdebug3.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        extra_hosts:
            - host.docker.internal:${HOST_IP:-172.17.0.1}
        networks:
            - prelude
    # node
    node-service:
        build:
            context: .
            dockerfile: docker/nodejs/Dockerfile
        container_name: prelude-node-container
        expose:
            - 3000
        ports:
            - 3000:3000
        volumes:
            - ./apps:/var/www/apps
        working_dir: /var/www/apps
        networks:
            - prelude
    # mysql
    mysql8-service:
        image: mysql:8
        container_name: prelude-mysql8-container
        ports:
            - 3306:3306
        volumes:
            - ./mysql:/var/lib/mysql
        command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
        restart: always # always restart unless stopped manually
        environment:
            MYSQL_ROOT_PASSWORD: secret
            MYSQL_PASSWORD: secret
        networks:
            - prelude
    # redis
    redis-service:
        image: redis:7.0.0
        container_name: prelude-redis-container
        volumes:
            - ./redis/data:/data
        ports:
            - 6379:6379
        networks:
            - prelude
    # redis GUI
    redisinsight:
        depends_on:
            - redis-service
        image: redislabs/redisinsight:latest
        container_name: prelude-redisinsight
        ports:
            - 5540:5540
        volumes:
            - ./redis/redisinsight:/data
        networks:
            - prelude
    # RabbitMQ
    rabbitmq-service:
        image: rabbitmq:management
        container_name: prelude-rabbitmq-container
        ports:
            - 15672:15672
        networks:
            - prelude
    # phpMyAdmin
    phpmyadmin:
        depends_on:
            - mysql8-service
        image: phpmyadmin/phpmyadmin
        container_name: prelude-phpmyadmin
        ports:
            - 8081:80
        environment:
            - PMA_HOST=mysql8-service
            - PMA_PORT=3306
        networks:
            - prelude
    # Mailpit
    mailpit:
        image: axllent/mailpit
        container_name: prelude-mailpit
        restart: unless-stopped
        volumes:
            - ./mailpit/data:/data
        ports:
            - 8025:8025
            - 1025:1025
        environment:
            MP_MAX_MESSAGES: 5000
            MP_DATABASE: /data/mailpit.db
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1
        networks:
            - prelude
networks:
    prelude: